body {
    background-color: black;
}

div {
    text-align: center;
    width: 50%;
    margin: 50px 25%;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}